@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
@import '../../node_modules/normalize.css/normalize';

%montserrat-300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

%montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  resize: none;
  outline: none;
  text-decoration: none;
  @extend %montserrat-500;
}

body {
  background: #32425B;
}

.flex {
  display: flex;
}

.fl-fd-cm {
  flex-direction: column;
}

.container {
  max-width: 1440px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  @extend %montserrat-600;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin: 25px 0 0 0;
}

.form {
  max-width: 400px;
  margin: 50px auto 0;
  &__svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    z-index: 99;
    width: 25px;
    height: 25px;
    margin: auto 0;
    &-line {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
    }
  }
  &__label {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &-title {
      position: absolute;
      top: 5px;
      left: 5px;
      color: #56677C;
      transition: .4s;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #56677C;
    padding: 10px 40px 10px 10px;
    color: #748AA5;
  }
  &__submit {
    margin: 50px auto 0;
    cursor: pointer;
    min-width: 220px;
    max-width: max-content;
    height: 50px;
    border: none;
    padding: 10px;
    background: #1ED5B9;
    color: #fff;
    border-radius: 3px;
  }
}

.top-title {
  top: 2px;
  left: 4px;
  font-size: 12px;
}

.anim-valid-line {
  animation: stroke-line 8s forwards;
}

.valval-invalid {
  border-bottom-color: #FF464C;
}

.valval-valid {
  border-bottom-color: #46FF68;
}

@keyframes stroke-line {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}